<div class="container place-content-center">
  <h1 class="font-bold text-4xl">Budget Apps</h1>
  <div class="flex flex-col">
    <%= button_to "LOGIN", class: "bg-[#1da1f2] text-white ..."%>
    <%= button_to "SIGNUP", class: "bg-blue-700"%>
  </div>
</div>
